<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com</h1>
    <p>
      You are a wonderful person.
    </p>
    <a href="http://foo.bar/?baz[]=1&baz[]=2">This is a array of parameters</a>
    <p>Thanks, and have a great day!</p>
  </body>
</html>
