name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby: 3.0
          gemfile: Gemfile
        - ruby: 3.0
          gemfile: gemfiles/actionmailer70.gemfile
        - ruby: 2.7
          gemfile: gemfiles/actionmailer60.gemfile
        - ruby: 2.6
          gemfile: gemfiles/actionmailer52.gemfile
        - ruby: 2.7
          gemfile: gemfiles/mongoid7.gemfile
          mongodb: true
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - if: ${{ matrix.mongodb }}
      uses: ankane/setup-mongodb@v1
    - run: |
        sudo apt-get install redis-server
        sudo systemctl start redis
    - run: bundle exec rake test
