name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "4.0"
            gemfile: Gemfile
          - ruby: 3.4
            gemfile: gemfiles/actionmailer80.gemfile
          - ruby: 3.3
            gemfile: gemfiles/actionmailer72.gemfile
          - ruby: 3.2
            gemfile: gemfiles/actionmailer71.gemfile
          - ruby: 3.3
            gemfile: gemfiles/mongoid9.gemfile
            mongodb: true
          - ruby: 3.2
            gemfile: gemfiles/mongoid8.gemfile
            mongodb: true
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - if: ${{ matrix.mongodb }}
        uses: ankane/setup-mongodb@v1
      - run: |
          sudo apt-get update
          sudo apt-get install redis-server
          sudo systemctl start redis-server
      - run: bundle exec rake test
